head{
    font-family: 'Shadows Into Light', cursive;
}
.characters{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: space-between;
}
header{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-image{
    background-image: url("/rickhead.jpg");
}

body{
    background-color: grey;
}


img {
    height: 200px;
    width : auto;
    cursor : pointer;
    border: 1px solid black;
    box-shadow: 10px 10px #333030 ;
    margin-top: 10px;
}
.close {
    position: absolute;
    top:55%;
    right: 28%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0;
  }
  

.pop-up {
    position: absolute;
    top: 75%;
    left: 50%;

    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color : white;
    width : 500px;
  }
  